.picture {

    width: 50%;
    max-width: 250px;
    float: left;
    margin: 20px;
}

.footer {

    background: rgb(80, 77, 241);
    clear: left;
    text-align: center; 
}

.col {

    border: solid;
    color: black;
    
}